<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/footer/style.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"/>

    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <title>网络语言语料库</title>
</head>
<style type="text/css">
    * {
        font-family: 微软雅黑;
    }

    .jumbotron {
        padding: 1rem 1rem;
        margin-bottom: 0rem;
    }
</style>
<body>
<div class="container">
    <h1 class="page-header" align="center"><span class="badge badge-secondary">语料库总览</span></h1>
    <!--面包屑-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">首页</li>
        </ol>
    </nav>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        新浪语料库
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="panel panel-warning ">
                        <div class="panel-heading col-md-12 row">
                            <div class="col-md-3">
                                <a href="/news/list?type=sina">
                                    <h2>
                                        <button
                                                type="button" class="btn btn-primary btn-lg">新浪语料查看
                                        </button>
                                    </h2>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/news/list?type=sinaSearch">
                                    <h2>
                                        <button
                                                type="button" class="btn btn-primary btn-lg">新浪语料检索
                                        </button>
                                    </h2>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="alert alert-secondary" role="alert">
                                    <h4>新浪语料库样本数</h4>
                                    <code class="highlighter-rouge">10000</code>
                                </div>
                                <div class="alert alert-secondary" role="alert">
                                    <h4>新浪语料库字符数</h4>
                                    <code class="highlighter-rouge">10000</code>
                                </div>
                                <div class="alert alert-secondary" role="alert">
                                    <h4>新浪语料库总汉字个数</h4>
                                    <code class="highlighter-rouge">10000</code>
                                </div>
                                <div class="alert alert-secondary" role="alert">
                                    <h4>新浪语料库说明</h4>
                                    <p>新浪网络语言语料库是一个大型语料库。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        搜狐语料库
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="panel panel-danger ">
                        <div class="panel-heading col-md-12 row">
                            <div class="col-md-2">
                                <a href="/news/list?type=search">
                                    <h2><span class="badge badge-secondary">搜狐语料检索</span></h2>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="/news/list?type=sohu">
                                    <h2><span class="badge badge-secondary">搜狐语料查看</span></h2>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <h3>搜狐语料库样本数</h3>
                                    <p>10000</p>
                                </a>
                                <a class="list-group-item">
                                    <h3>搜狐语料库字符数</h3>
                                    <p>10000</p>
                                </a>
                                <a class="list-group-item">
                                    <h3>搜狐语料库总汉字个数</h3>
                                    <p>10000</p>
                                </a>
                                <a class="list-group-item">
                                    <h3>新浪语料库说明</h3>
                                    <p>搜狐网络语言语料库是一个大型语料库。</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        天涯语料库
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="panel panel-danger ">
                        <div class="panel-heading col-md-12 row">
                            <div class="col-md-2">
                                <a href="/news/list?type=search">
                                    <h2><span class="badge badge-secondary">天涯语料检索</span></h2>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="/news/list?type=tainya">
                                    <h2><span class="badge badge-secondary">天涯语料查看</span></h2>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <h3>天涯语料库样本数</h3>
                                    <p>10000</p>
                                </a>
                                <a class="list-group-item">
                                    <h3>天涯语料库字符数</h3>
                                    <p>10000</p>
                                </a>
                                <a class="list-group-item">
                                    <h3>天涯语料库总汉字个数</h3>
                                    <p>10000</p>
                                </a>
                                <a class="list-group-item">
                                    <h3>天涯语料库说明</h3>
                                    <p>天涯网络语言语料库是一个大型语料库。</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        可比语料库
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="panel panel-danger ">
                        <div class="panel-heading col-md-12 row">
                            <div class="col-md-2">
                                <a href="/news/list?type=search">
                                    <h2><span class="badge badge-secondary">可比语料检索</span></h2>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <h3>可比语料库样本数</h3>
                                    <p>10000</p>
                                </a>
                                <a class="list-group-item">
                                    <h3>可比语料库字符数</h3>
                                    <p>10000</p>
                                </a>
                                <a class="list-group-item">
                                    <h3>可比语料库总汉字个数</h3>
                                    <p>10000</p>
                                </a>
                                <a class="list-group-item">
                                    <h3>可比语料库说明</h3>
                                    <p>可比语言语料库是一个大型语料库。</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--<div class="jumbotron text-center" style="margin-bottom:0">-->
<!--    <p>底部内容</p>-->
<!--</div>-->
<div class="jumbotron jumbotron-fluid">
    <div class="container" style="margin-bottom:0">
        <h4 class="display-5">声明</h4>
        <p class="small">本网页提供免费的学术资源，支持网络语言语料库的检索和资源下载，是非盈利性质的学术网页。</p>
        <p class="small">本网页提供的学术资源不得用于盈利、开发等目的。</p>
        <h4 class="display-5">关于我们</h4>
        <p class="small">西北师范大学外国语学院</p>
        <h4 class="display-5">联系我们</h4>
        <a href="mailto:example@nwnu.edu.cn" class="small">example@nwnu.edu.cn</a>
    </div>
    <div class="container" style="padding: 5px">
        <div class="social-links">
            <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
            <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
            <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
            <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
            <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
            <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
        </div>
    </div>
    <div class="container text-center" style="padding: 5px">
        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright ©
            <script>document.write(new Date().getFullYear());</script>
              - 2019 版权所有 | 西北师范大学
            <!--            | This template is made with <i class="icon-heart color-danger"-->
            <!--                                                                     aria-hidden="true"></i> by <a-->
            <!--                    href="https://colorlib.com" target="_blank">Colorlib</a>-->
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
    </div>
</div>
</body>
</html>