<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>

    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <title>Bootstrap</title>
</head>
<style type="text/css">
    * {
        font-family: 微软雅黑;
    }
</style>
<body>
<div class="container">
    <h1 class="page-header" align="center"><span class="badge badge-secondary">语料库总览</span></h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-warning ">
                <div class="panel-heading">
                    <a href="/news/list?type=sina" target="_blank">
                        <h2><span class="badge badge-secondary">新浪语料</span></h2>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-danger ">
                <div class="panel-heading">
                    <a href="/news/list?type=sohu" target="_blank">
                        <h2><span class="badge badge-secondary">搜狐语料</span></h2>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-danger ">
                <div class="panel-heading">
                    <a href="/news/list?type=tianya" target="_blank">
                        <h2><span class="badge badge-secondary">天涯语料</span></h2>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                        <a href="" class="list-group-item">
                            <h3>bootstrap</h3>
                            <p>fidobngdo nv c oivuc on jvifrvufovdfjvodf</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>